/* Layout container */
.layout-container {
    display: flex;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; /* Full width when expanded */
    background-color: #00529b;
    color: white;
    transition: width 0.3s ease; /* Smooth transition for collapse/expand */
    overflow: hidden;
}

    .sidebar.collapsed {
        width: 60px; /* Reduced width when collapsed */
    }

/* Collapse button */
.toggle-btn {
    background-color: #dd661e;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    outline: none;
}

.sidebar.collapsed .toggle-btn {
    text-align: center;
    padding: 10px 0;
}

/* Menu list */
.menu-list {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

    .menu-list li {
        margin: 20px 0;
    }

        .menu-list li a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            display: block;
        }

            .menu-list li a:hover {
                background-color: #34495e;
                border-radius: 4px;
            }

/* Content area styles */
.content {
    margin-left: 250px; /* Leave space for the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Adjust width */
    transition: margin-left 0.3s, width 0.3s;
}
.highlight-uf {
    color: #00529b
}

.sidebar.collapsed ~ .content {
    margin-left: 40px; /* Adjust margin when sidebar is collapsed */
    width: calc(100% - 40px); /* Adjust content width when collapsed */
}

/* Header and Footer styles */
.layout-header, .layout-footer {
    text-align: center;
    margin-bottom: 20px;
}

.layout-footer {
    margin-top: 20px;
    font-size: 14px;
}
